nav {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: #ffffff solid 2.5px;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 6.94vh;
}

nav > ul > li > a {
  height: 100%;
  padding: 0 1.76vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

nav a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
  transform: scale(1.2);
  text-decoration: underline;
}

.animation {
  position: relative;
  transition: 0.5s;
}

.animation:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

#site-name {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 2em;
  border-radius: 0.78vh;
  color: white;
}

#site-name span {
  font-style: oblique;
  text-decoration: wavy;
}

nav > ul > li > a > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.19vh solid #201e1e92;
  border-right: 0.19vh solid #201e1e92;
  border-radius: 0.78vh;
  transform: scale(0) translateY(0.46vh);
  transition: 0.5s;
}

nav li:first-child {
  margin-right: auto;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-height: 400px) {
  .Linkbar {
    height: 100%;
  }
}
