
nav ul {
   border-bottom: #ffffff solid 2.5px;
  height: 70px;
  width: 100%;
  list-style: none;
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  overflow: hidden;
}

nav li {
  height: 6.94vh;
}

nav > ul > li > a {
  position: relative;
  height: 100%;
  padding: 0 1.76vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  color: white;
}

nav > ul > li > a > span {
  position: absolute;
  left: 1.76vw;
  right: 1.76vw;
  bottom: 1.75vh;
  height: 1.5px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

nav a:hover span {
  transform: scaleX(1);
  transition: 0.275s;
}

a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
  transform: scale(1.2);
}

a.active span {
  transform: scaleX(1);
}

nav li:first-child {
  margin-right: auto;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media (max-height: 400px) {
  .Linkbar {
    height: 100%;
  }
}

/* Sub-nav*/

.side-nav {
  position: fixed;
  top: 30vh; 
  left: 20px; 
  width: 12vw;
  background: rgba(0, 0, 0, 0.55);
  padding: 20px 15px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  overflow: hidden;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  margin-bottom: 15px;
}

.side-nav a {
  color: white;
  font-size: 15px;
  transition: 0.2s;
}

.side-nav a {
  position: relative;
  display: inline-block;
  padding-bottom: 4px; 
}

/* Ligne invisible au repos */
.side-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #ffffff;
  transition: width 0.3s ease;
}

/* Animation au hover */
.side-nav a:not(.active):hover::after {
  width: 100%;
}

.side-nav a:not(.active):hover {
  padding-left: 5px;
  font-weight: 600;
}

.palm_right{
  display: block;
  position: absolute;
  right: 0px;
}

.palm_left{
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
}




