* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/fond.jpg");
  color: white;
  width: 100vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-top: 0.21vh solid rgb(0, 0, 0);
  border-bottom: 0.21vh solid rgb(0, 0, 0);
  border-left: 0.31vw solid rgb(0, 0, 0);
  border-top-left-radius: 0.78vh;
  border-bottom-left-radius: 0.78vh;
}
footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 2vh;
  margin-left: 2vw;
  z-index: 1000;
}
main {
  backdrop-filter: blur(2px);
  margin-bottom: 0;
  width: 100%;
  min-height: 20vh;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
  margin-top: 12vh;
}

section {
  display: inline-block;
  background-color: #4d4d4d;
  box-shadow: 0.52vw 0.52vw 0.36vw rgba(0, 0, 0, 0.4);
  border-top: 0.36vw solid rgba(0, 0, 0, 0.4);
  border-left: 0.36vw solid rgba(0, 0, 0, 0.4);
  border-radius: 0.52vw;
  border-bottom-left-radius: 0.78vh;
  border-top-left-radius: 0.78vh;
  padding: 3.7vh 1.82vw;
  min-width: 10.4vw;
  max-width: 21.9vw;
  box-sizing: border-box;
  word-break: break-word;
}
.dev {
  background-image: linear-gradient(70deg, #464545 20%, #383838 120%);
}
.access {
  background-image: linear-gradient(70deg, #4e4848 10%, #313131 100%);
}
.defi {
  background-image: linear-gradient(70deg, #302d2d 40%, #727272 130%);
}
section:hover {
  background-image: linear-gradient(70deg, #707070 20%, #313131 120%);
  backdrop-filter: blur(15px);
  transform: scale(1.04);
}

section h3 {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.16vw solid rgba(0, 0, 0, 0.5);
  padding-bottom: 0.65vh;
  text-align: center;
  margin-bottom: 1.85vh;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  transition: 0.5s;
}
section h3:hover {
  color: rgba(255, 255, 255, 0.4);
  transform: scale(1.2) translateY(0vh);
}
section blockquote {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-style: oblique;
  margin-top: 1.3vh;
  border-left: 0.36vw solid rgba(0, 0, 0, 0.6);
  border-radius: 0.59vw;
  padding-left: 2.96vw;
}
section blockquote:last-child {
  border-bottom: 0.36vw solid rgba(0, 0, 0, 0.6);
  border-radius: 0.59vw;
  padding-bottom: 2.96vh;
}
section blockquote:hover {
  box-shadow: 0.52vw 0.52vw 0.36vw rgba(0, 0, 0, 0.4);
  border-bottom: 0.36vw solid rgba(0, 0, 0, 0.4);
  border-left: 0.36vw solid rgba(0, 0, 0, 0.4);
  border-radius: 0.52vw;
  border-bottom-left-radius: 0.78vh;
  border-bottom-right-radius: 0.78vh;
}
h2 span {
  display: inline-block;
  margin-top: 10vh;
  color: rgba(255, 255, 255, 0.8);
  border-top: 0.65vh solid rgba(255, 255, 255, 0.6);
  border-left: 0.65vh solid rgba(255, 255, 255, 0.5);
  border-radius: 0.78vh;
  box-shadow: 0.72vw 0.72vw 0.66vw rgba(236, 227, 227, 0.4);
  padding: 3vh 2vh 2vh 2vh;
  margin-bottom: 1.85vh;
  text-transform: uppercase;
  font-size: 4vh;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  transition: 0.5s;
}
div.title {
  text-align: center;
}
h2 span:hover {
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1.15) translateY(0vh);
}

.link {
  border: solid;
  padding: 1vh;
  border-radius: 50%;
  border-color: rgba(175, 175, 175, 0.6);
  background-image: linear-gradient(120deg, #c7c7c7 10%, #4d4d4d 100%);
}
